// Mixins in here
.button-mixin(@width, @r, @g, @b, @opacity, @background, @color, @font-size) {
    width: @width;
    text-align: center;
    background: @background;
    padding: 5%;
    box-sizing: border-box;
    font-size: @font-size;
    border-radius:10px;
    background: rgba(@r, @g, @b, @opacity);
    text-decoration: none;
    color: @color;
}